.product-card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.2s;
  }
  
  .product-card:hover {
    transform: scale(1.05);
  }
  
  .card-content {
    flex-grow: 1;
  }
  
  .product-image {
    object-fit: contain;
  }
  
  .product-title {
    height: 60px; /* Adjust height as needed */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  
  .product-description {
    height: 100px; /* Adjust height as needed */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }
  
  .product-price {
    margin-top: 10px;
  }
  
  body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
  }
  