/* Center-aligns the text content of the App component */
.App {
  text-align: center;
}

/* Styles the App logo with a specified height and disables pointer events */
.App-logo {
  height: 40vmin; /* Sets the height of the logo to 40% of the viewport's minimum dimension */
  pointer-events: none; /* Disables pointer events (e.g., clicks, hovers) on the logo */
}

/* Adds a spinning animation to the App logo if the user has no preference for reduced motion */
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear; /* Applies a continuous spin animation that completes every 20 seconds */
  }
}

/* Styles the header of the App component */
.App-header {
  background-color: #282c34; /* Sets the background color of the header */
  min-height: 100vh; /* Ensures the header takes up at least 100% of the viewport height */
  display: flex; /* Uses flexbox for layout */
  flex-direction: column; /* Arranges children in a column */
  align-items: center; /* Centers children horizontally */
  justify-content: center; /* Centers children vertically */
  font-size: calc(10px + 2vmin); /* Sets a responsive font size based on the viewport size */
  color: white; /* Sets the text color to white */
}

/* Styles links in the App component */
.App-link {
  color: #61dafb; /* Sets the link color to a specific shade of blue */
}

/* Defines the keyframes for the App logo spin animation */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); /* Initial state: no rotation */
  }
  to {
    transform: rotate(360deg); /* Final state: completes a full 360-degree rotation */
  }
}
